<h1>Biograhy</h1>
<article>
  <strong>TRAINING:</strong> I have daily sessions of Muay Thai and wrestling and do my conditioning training three times a week. At my age, I have to train smart.<br/>

<arcticl>
<strong>When and why did you start training for fighting?</strong>
<p> I started competing in BJJ and Judo when I was five years old. I started training MMA to help my teammates at the gym and saw it was a new challenge so I started competing in 2004. I got inspired by the first UFC I watched, with Royce Gracie, and decided then and there that I wanted to be in the UFC.</p>
</arcticl>

<strong>What ranks and titles have you held?</strong>
<p> I am a 3rd degree BJJ black belt and a 2nd degree Judo black belt. I am a Cage Rage veteran and held the UCMMA welterweight title in 2009 and 2010.</p>

<strong>Do you have any heroes?</strong>
<p> I admire a lot of people, but my heroes will always be my parents, who have supported me through everything.</p>

<strong>What does it mean for you to fight in the UFC?</strong>
<p>It's a dream come true and has been a goal of mine since Day One. The UFC is the pinnacle of professional MMA and is the highest achievement attainable by any fighter, so it means a lot to me to have this opportunity.</p>

<strong>Did you go to college and if so what degree did you earn?</strong>
<p> Yes, I earned a Bachelor's degree in Sports Science and a Post-Graduate degree in Physiology.</p>

<strong>What was your job before you started fighting?</strong>
<p> I started teaching martial arts in Brazil when I was a blue belt at 17. After I received my black belt, I decided to move to London and train full-time. I worked many odd jobs, including babysitting, security at night clubs, handing out fliers, and cleaning the gym I trained in. Then I got the opportunity to teach again and my career as a coach began to develop, which took me to Dubai, Greece and now Hong Kong.</p>
<strong>Specific accomplishments in amateur competition?</strong>
<p> Gold medal at IBJJF Asian Open 2013,
Silver and Bronze at IBJJF Europeans 2012, 4th place in Pan American Trials (freestyle wrestling) 2007, 4th place in Brazil National Wresting Championship 2007, Several other BJJ and Judo titles in Northeast Brazil from 1995-2006.</p>

<strong>Specific accomplishments in pro competition?</strong>
<p> Cage Rage veteran and UCMMA welterweight title holder in 2009 and 2010. Competed in the Abu Dhabi Pro in 2010 and 2011. Undefeated pro record.</p>

<strong>Favorite grappling technique:</strong>
<p>Armbar submission.</p>

<strong>Favorite striking technique:</strong>
<p> Knees. </p>
<ul>
<li><strong>Pro since 2005</strong></li>

<li><strong>Six wins by submission, five by knockout – has finished all wins</strong></li>

<li><strong>Nine first round finishes</strong></li>

<li><strong>Owns Feb. 2010 win over TUF 9 vet Dean Amasinger</strong></li>



</article>
